<!-- <p>
  marcada works!
</p> -->
<ion-item>
  <ion-label>Instutucion</ion-label>
  <ionic-selectable [(ngModel)]="institucion" [items]="instituciones" itemValueField="id" itemTextField="nombre"
    [canSearch]="true" (onChange)="portChange($event)" [canClear]="true" clearButtonText="Limpiar"
    searchPlaceholder="Nombre Institucion" [searchFailText]="'No se encontraron instituciones'">
  </ionic-selectable>
</ion-item>
<ion-content>

  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button *ngIf="entrada" (click)='marcar()'>
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button *ngIf="!entrada" (click)='marcarSalida()'>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>